<!DOCTYPE html>
<html lang="en">
    
<head>
    <title>Website</title>
    <meta charset="utf=8" />
    
    <link rel="stylesheet" type="text/css" href="/static/CSS_Files/CV_Page.css">
    <meta name="viewport" content="with=device-width, initial-scale=1.0">
</head>

<body class="body">
    
    <header class="mainheader">
        <nav><ul>
            <li class="link"><a href="/templates/Home_Page.html">Home</a></li>
            <li class="link"><a href="/templates/Portfolio_Page.html">Portfolio</a></li>
            <li class="link"><a href="/templates/CV_Page.html">CV</a></li>
            <li class="link"><a href="/templates/AboutMe_Page.html">About Me</a></li>
            <li class="link"><a href="/templates/Contact_Page.html">Contact</a></li>
            <li class="link"><a href="/templates/Form_Page.html">Feedback</a></li>
        </ul></nav>
    </header>
    
    <div class="maincontent">
        <div class="content">
            <article class="topcontent">
                <embed src="https://robertbowry.files.wordpress.com/2015/02/curriculum-vitae1.pdf" width="1150" height="800"></embed>
            </article>
        </div>
    </div>
    
    <aside class="top-sidebar">
        <article>
            <iframe width="345" height="200" src="https://www.youtube.com/embed/9Q7Vr3yQYWQ?list=PLJdPTgbeDGN08yHg1Y46vzwDhj5Nxb-y_" frameborder="0" allowfullscreen></iframe>
        </article>
    </aside>
        
    <aside class="middle-sidebar">
        <article>
            <iframe src="https://calendar.google.com/calendar/embed?src=canislupus00001%40gmail.com&ctz=Europe/London" style="border: 1" width="345" height="200" frameborder="0" scrolling="no"></iframe>
        </article>
    </aside>
    
    <footer class="mainFooter">
        <p>Copyright &#169, Robert Bowry</p>
    </footer>
    
</body>

</html>

