<!DOCTYPE html>
<html lang="en">
    
<head>
    <title>Website</title>
    <meta charset="utf=8" />
    
    <link rel="stylesheet" type="text/css" href="/static/CSS_Files/Portfolio_Page.css">
    <meta name="viewport" content="with=device-width, initial-scale=1.0">
</head>

<body class="body">
    
    <header class="mainheader">
        <nav><ul>
            <li class="link"><a href="/templates/Home_Page.html">Home</a></li>
            <li class="link"><a href="/templates/Portfolio_Page.html">Portfolio</a></li>
            <li class="link"><a href="/templates/CV_Page.html">CV</a></li>
            <li class="link"><a href="/templates/AboutMe_Page.html">About Me</a></li>
            <li class="link"><a href="/templates/Contact_Page.html">Contact</a></li>
            <li class="link"><a href="/templates/Form_Page.html">Feedback</a></li>
        </ul></nav>
    </header>
    
    <div class="maincontent">
        <div class="content">
            <article class="topcontent">
                <header>
                    <h2 style="color:Chocolate;">University A.L.L. Projects</h2>
                </header>
                
                <footer>
                    <b><i class="post-info">This was posted on the 19th of April 2015</i></b>
                </footer>
                
                <content>
                    <p><a href="https://robertbowry.files.wordpress.com/2015/02/a-l-l-project-11.pdf">A.L.L. Project 1:</a> For this first Project, we had to analyse a specific sector using examples of existing companies to help us. We chose the automotive industry. As  BI company, we used this details we collected and then provided them a service so that when our clients came to us; we give them a detailed insight into whether or not it would be worth them moving into that sector.</p>
                    <p><a href="https://robertbowry.files.wordpress.com/2015/02/a-l-l-project-2.pdf">A.L.L. Project 2:</a> For our second project, we had to create an API using Python. The API would download data from different data sources and then organize them in a way in which our clients could interpret it. As a BI company, this API would be used by our clients and would be able to view different financial data and could make query’s for (for example) total assets.</p>
                    <p><a href="https://robertbowry.files.wordpress.com/2015/02/a-l-l-project-3.pdf">A.L.L. Project 3:</a> For our third and final project, we have to use CSI to find a solution to a problem that occurred during a second project. The solution to said problem involved creating a database using an ORM of our choice; deciding to create a database using SQL+. In addition to this, for each table we created within this database, we had to create a class for each table and then implement them into Python so we can import and view data from our database in SQL in Python.</p>
                </content>
            </article>
    
            <article class="middlecontent">
                <header>
                    <h2 style="color:Chocolate;">A-level Sample Work</h2>
                </header>
                
                <footer>
                    <b><i class="post-info">This was posted on the 19th of April 2015</i></b>
                </footer>
                
                <content>
                    <p>Below will be a selection of PDF links that show case some of my best work from my A-levels:</p>
                    <p><a href="https://robertbowry.files.wordpress.com/2015/02/business-ratios.pdf">Business Ratios:</a> This contains various business ratios that companys will use in order to measure, (for example), a companies liquidity.</p>
                    <p><a href="https://robertbowry.files.wordpress.com/2015/02/employee-performance.pdf">Employee Performance:</a> This is all about why and how a business will measure their employee's performances; ranging from improving work out-put to disciplinary action.
                    <p><a href="https://robertbowry.files.wordpress.com/2015/02/ethical-concerns.pdf">Ethical Concerns:</a> This contains information about how businesses have a "moral" sense of duty to their customers. For example, how many people will have ethical concerns over BP drilling in the ocean for oil.</p>
                    <p><a href="https://robertbowry.files.wordpress.com/2015/02/presentation.pdf">Presentation:</a> This was a presentation along with notes on each side that I had to carry out along with other group members. This presentation was done infront of the headmistress and other senior staff members.</p>
                    <p><a href="https://robertbowry.files.wordpress.com/2015/02/promotional-campaign.pdf">Promotional Campaign:</a> This explores all of the components that will go into creating a promotional campaign - taking a look at the marketing side of business.</p>
                    <p><a href="https://robertbowry.files.wordpress.com/2015/02/review-of-success.pdf">Review of Succsess:</a> This is about how a business can review their companies success and what they can take away from this and use in the future.</p>
                    <p><a href="https://robertbowry.files.wordpress.com/2015/02/e-commerce.pdf">e-Commerce:</a> This contains information about e-Commerce - how it's used, why it's used, for example.</p>
                    <p><a href="https://robertbowry.files.wordpress.com/2015/02/keeping-data-safe-and-secure.pdf">Keeping Data Safe and Secure:</a> This explores what levels of secuirty are available for businesses to use against internal and external threats</p>
                </content>
            </article>
        </div>
    </div>
    
    <aside class="top-sidebar">
        <article>
            <iframe width="345" height="200" src="https://www.youtube.com/embed/9Q7Vr3yQYWQ?list=PLJdPTgbeDGN08yHg1Y46vzwDhj5Nxb-y_" frameborder="0" allowfullscreen></iframe>
        </article>
    </aside>
        
    <aside class="middle-sidebar">
        <article>
            <iframe src="https://calendar.google.com/calendar/embed?src=canislupus00001%40gmail.com&ctz=Europe/London" style="border: 1" width="345" height="200" frameborder="0" scrolling="no"></iframe>
        </article>
    </aside>
    
    <footer class="mainFooter">
        <p>Copyright &#169, Robert Bowry</p>
    </footer>
    
</body>

</html>

